.key-features{

  width:100%;
  height:100%;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  background:#e2e8f0;

}

.feature-cards{

  display:flex;

  gap:40px;

}

.feature-card{

  width:260px;

  padding:30px;

  background:white;

  border-radius:12px;

  box-shadow:0 10px 25px rgba(0,0,0,0.1);

  transition:0.3s;
}

.feature-card:hover{

  transform:translateY(-10px);

}

.feature-card ul{

  margin-top:15px;

  padding-left:18px;

}

.feature-card li{

  margin-bottom:8px;

}