.our-values{

  width:100%;
  height:100%;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  background:linear-gradient(135deg,#1e293b,#334155);

  color:white;

}

.values{

  display:flex;

  gap:60px;

}

.value{

  text-align:center;

  max-width:200px;

}