.why-refactory-container{
  width:100%;
  max-width:1000px;
  text-align:center;
}

.why-refactory-title{
  font-size:40px;
  font-weight:700;
  margin-bottom:30px;
  color:#4a6c4c;
}

.why-refactory-text{
  font-size:18px;
  margin-bottom:40px;
  color:#333;
}

/* 카드 영역 */

.why-refactory-cards{
  display:flex;
  justify-content:center;
  gap:30px;
}

.why-card{
  background:#ece7df;
  padding:20px;
  border-radius:12px;
  width:220px;

  box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.why-card h3{
  font-size:18px;
  margin-bottom:10px;
}

.why-card p{
  font-size:14px;
}