.why-refactory{

  width:100%;
  height:100%;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  background:#f8fafc;

}

.section-title{

  font-size:48px;
  margin-bottom:60px;

}

.why-cards{

  display:flex;
  gap:60px;

}

.why-card{

  width:300px;

  padding:30px;

  background:white;

  border-radius:12px;

  box-shadow:0 10px 30px rgba(0,0,0,0.1);

  transition:0.3s;
}

.why-card:hover{

  transform:translateY(-10px);

}